<div class="navbar navbar-fixed-top navbar-default" id="the-navbar" role="navigation">
    <div class="container">
        <a href="#" class="navbar-brand"><strong>Car etc</strong></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse"><i class="fa fa-bars grey-bg"></i></button>
        <div class="collapse navbar-collapse navbar-right navHeaderCollapse">
            <ul class="nav navbar-nav" >
                <li style="cursor:pointer"><a href="/#/company">Company</a></li>
            </ul>
        </div>
    </div>
</div>